Repository recallwei/vue-ts-starter-template: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

chore: update
  .env
  README.md
  index.html
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: update
  .cspell.json
  .cspell.txt
  package.json
  pnpm-lock.yaml
  scripts/cspell-sort.js
  src/api/axios/index.ts
  src/assets/styles/base.scss
  src/assets/styles/font.scss
  src/assets/styles/main.scss
  src/main.ts
  src/utils/time/index.ts
  tsconfig.json
  tsconfig.node.json
  vite.config.ts
Due: eslint --fix, prettier --write

chore: update
  auto-imports.d.ts
  components.d.ts
  env.d.ts
  package.json
  pnpm-lock.yaml
  shims.d.ts
  tsconfig.eslint.json
  tsconfig.json
  tsconfig.node.json
  vite.config.ts
Due: eslint --fix, prettier --write

chore: add vue dev tool
  package.json
  pnpm-lock.yaml
  vite.config.ts
Due: eslint --fix, prettier --write

fix: add @types/jsdom and env.d.ts in tsconfig.json
  .husky/commit-msg
  .husky/pre-commit
  package.json
  pnpm-lock.yaml
  tsconfig.json
Due: none

chore: update deps
  .lintstagedrc.json
  package.json
  pnpm-lock.yaml
  vite.config.ts
Due: eslint --fix, prettier --write

refactor: extract .d.ts files into /@types
  @types/auto-imports.d.ts
  @types/components.d.ts
  @types/env.d.ts
  @types/shims.d.ts
  package.json
  pnpm-lock.yaml
  tsconfig.eslint.json
  tsconfig.json
  tsconfig.node.json
  vite.config.ts
Due: eslint --fix, prettier --write

chore: update
  .eslintignore
  .markdownlint.jsonc
  .prettierrc.js
  .prettierrc.json
Due: eslint --fix, prettier --write

chore: add eslint prettier ignore files
  .eslintignore
  .prettierignore
Due: none

chore: :hammer: add cz-git
  .commitlintrc.js
  .commitlintrc.json
  .cspell.txt
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

chore: update prettier config
  .prettierrc.json
Due: none

Path conditions:
  eslint --fix: any of: *.{js,ts,jsx,tsx,vue}
  prettier --write: (any of: *.{js,ts,jsx,tsx,vue}) or (any of: *.{md,html,css})
